{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <h1>Profile Information</h1>

    <!-- Profile form -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Account information -->
        <h3>Account Information</h3>
        {{ u_form.as_p }}

        <!-- Profile information -->
        <h3>Profile Information</h3>
        {{ p_form.as_p }}

        <button type="submit">Save Changes</button>
    </form>


    {% if request.user.userprofile.profile_picture %}
        <img src="{{ request.user.userprofile.profile_picture.url }}" width="150" alt="Profile Picture">

    {% else %}
        <img src="{% static 'profile_pics/default.jpg' %}" width="150" alt="Default Profile Picture">
    {% endif %}
</body>
</html>
